name: Deploy

on:
  push:
    branches:
      - master
  schedule:
    # cron every week on monday
    - cron: "0 0 * * 1"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get date for tags
        run: echo "DATE_TAG=$(date -I)" >> "$GITHUB_ENV"
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            tiangolo/nginx-rtmp:${{ matrix.image.name }}
            tiangolo/nginx-rtmp:${{ matrix.image.name }}-${{ env.DATE_TAG }} 
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: tiangolo/nginx-rtmp
