name: Deploy

on:
  push:
    branches:
      - master

env:
  image_name: tiangolo/nginx-rtmp

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: srfrnk/current-time@master
        id: current-time
        with:
          format: YYYY-MM-DD
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
        with:
          config: .github/buildkitd.toml
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          platforms: "linux/amd64,linux/arm64,linux/386,linux/arm/v7,linux/arm/v6"
          tags: "${{ env.image_name }}:latest-${{ steps.current-time.outputs.formattedTime }},${{ env.image_name }}:latest"
          push: true
