name: Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]
  schedule:
    # cron every week on monday
    - cron: "0 0 * * 1"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Image
        run: bash scripts/build.sh
        env:
          NAME: latest
  check:
    if: always()
    needs:
    - build
    runs-on: ubuntu-latest
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
